.gl-search-box-by-click {
  @apply gl-text-base;

  .gl-search-box-by-click-history > .gl-button {
    padding-left: $gl-spacing-scale-4 !important;
    padding-right: $gl-spacing-scale-3 !important;
    @apply gl-border-none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @apply gl-shadow-inner-1-gray-400;
  }

  .gl-search-box-by-click-search-button.gl-button:not(:disabled) {
    @apply gl-shadow-inner-1-gray-400;
  }

  .gl-search-box-by-click-input {
    &::-webkit-search-cancel-button {
      @apply gl-hidden;
    }
  }

  .gl-search-box-by-click-clear-button {
    position: absolute;
    top: $gl-spacing-scale-2;
    right: $gl-spacing-scale-2;
    @apply gl-mr-2;
    @apply gl-z-3;
  }
}

.gl-search-box-by-click-with-search-button {
  .gl-search-box-by-click-input {
    @apply gl-pr-7;
  }

  .gl-search-box-by-click-clear-button {
    right: $gl-spacing-scale-7;
  }
}
