.gl-tabs-nav {
  @include gl-border-solid;
  @include gl-border-gray-100;
  @include gl-border-0;
  @include gl-border-b-1;
}

.gl-tab-nav-item {
  @include gl-text-gray-900;
  @include gl-line-height-normal;
  @include gl-font-base;
  @include gl-display-flex;
  @include gl-justify-content-center;
  @include gl-overflow-hidden;
  padding: $gl-spacing-scale-5 $gl-spacing-scale-4 calc($gl-spacing-scale-5 - 2px);
  border-radius: $gl-border-size-2 $gl-border-size-2 0 0;
  border-bottom: 2px solid transparent;
  transition: box-shadow $gl-timing-fast $gl-easing-default,
              background-color $gl-timing-fast $gl-easing-default,
              color $gl-timing-fast $gl-easing-default,
              fill $gl-timing-fast $gl-easing-default,
              border-color $gl-timing-fast $gl-easing-default;

  &:hover {
    @include gl-text-gray-900;

    &:not(.gl-tab-nav-item-active) {
      border-bottom-color: $gray-200;
    }
  }

  &.disabled {
    @include gl-pointer-events-auto;
    @include gl-cursor-not-allowed;
    @include gl-text-gray-400;

    &:hover {
      @include gl-shadow-none;
    }
  }

  > .gl-tab-counter-badge {
    font-weight: inherit;
    @include gl-ml-2;
  }
}

.gl-tab-content {
  @include gl-py-3;
  @include gl-font-base;
  @include gl-line-height-normal;
  @include gl-text-gray-900;
}

.gl-tab-nav-item-active {
  @include gl-font-weight-bold;
  @include gl-text-gray-900;
  border-bottom-color: $blue-500;

  &:focus,
  &.focus {
    @include gl-focus-mouse;
  }

  &:focus-visible {
    @include gl-focus-keyboard;
  }

  &:focus:active,
  &.focus:active {
    outline: none;
    box-shadow: none !important;
    animation: none;
  }
}

.gl-actions-tabs-start {
  @include gl-w-full;
  @include gl-display-flex;
  @include gl-flex-direction-column;
  @include gl-mt-3;
  @include gl-md-display-none;
}

.gl-actions-tabs-end {
  @include gl-display-none;
  @include gl-flex-grow-1;
  @include gl-justify-content-end;
  @include gl-align-items-center;
  @include gl-flex-direction-row;
  @include gl-mt-0;
  @include gl-md-display-flex;
}

.gl-actions-tabs-start,
.gl-actions-tabs-end {
  button {
    @include gl-mb-3;
    @include gl-md-mr-3;
    @include gl-md-mb-0;
  }

  button:last-child {
    @include gl-m-0;
  }
}

.gl-tabs-fade {
  @include gl-w-8;
  @include gl-bottom-0;
  @include gl-sticky;
  @include gl-text-gray-500;
  @include gl-p-2;
}

.gl-tabs-fade-left {
  @include gl-left-0;
  @include gl-bg-gradient-blur(left, $white);
}

.gl-tabs-fade-right {
  @include gl-right-0;
  @include gl-bg-gradient-blur(right, $white);
}

.gl-tabs-fade-icon-button {
  @include gl-bg-transparent;
  @include gl-border-none;
  @include gl-p-0;
  @include gl-text-gray-400;
  @include gl-h-full;
}

.gl-scrollable-tabs-nav {
  @include gl-overflow-hidden;
  @include gl-relative;
  @include gl-flex-nowrap;
}

// add hovers
// add microinteraction
.inner-page-scroll-tabs .fade-left:hover,
.inner-page-scroll-tabs .fade-right:hover {
  box-shadow: none !important;
}

.inner-page-scroll-tabs .fade-right svg,
.inner-page-scroll-tabs .fade-left svg {
  top: 7px;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 99em;
}

.inner-page-scroll-tabs .fade-right svg {
  right: 0;
}

.inner-page-scroll-tabs .fade-left svg {
  left: 0;
}

.inner-page-scroll-tabs .fade-left:focus-visible,
.inner-page-scroll-tabs .fade-right:focus-visible {
  outline: none;
}

.inner-page-scroll-tabs .fade-left:focus-visible svg,
.inner-page-scroll-tabs .fade-right:focus-visible svg {
  @include gl-focus-keyboard;
}
