.gl-tabs-nav {
  @apply gl-border-b;
}

.gl-tab-nav-item {
  position: relative;
  @apply gl-px-4;
  @apply gl-py-5;
  @include gl-line-height-normal;
  @include gl-font-base;
  @include gl-display-flex;
  @include gl-justify-content-center;
  @apply gl-border;
  @include gl-action-neutral-colors;
  transition:
    box-shadow $gl-transition-duration-medium $gl-easing-out-cubic,
    background-color $gl-transition-duration-medium $gl-easing-out-cubic,
    border-radius $gl-transition-duration-fast $gl-easing-out-cubic;

  &::before {
    content: '';
    position: absolute;
    border-bottom: $gl-border-size-2 solid transparent;
    translate: 0 $gl-border-size-2;
    transition:
      border-bottom $gl-transition-duration-medium $gl-easing-out-cubic,
      translate $gl-transition-duration-medium $gl-easing-out-cubic;
    //offsets the bottom border from the parent border
    bottom: -$gl-border-size-1;
    left: -$gl-border-size-1;
    right: -$gl-border-size-1;
  }

  @media (prefers-reduced-motion: reduce) {
    &, &::before {
      transition-duration: .01ms;
    }
  }

  &:hover:not(.gl-tab-nav-item-active)::before {
    border-bottom-color: var(--gl-border-color-strong);
    translate: 0;
  }

  &:focus {
    border-radius: $gl-border-radius-base;
  }

  &.disabled {
    @include gl-pointer-events-auto;
    @include gl-cursor-not-allowed;
    color: var(--gl-action-disabled-foreground-color);

    &:hover {
      @include gl-shadow-none;
    }
  }

  > .gl-tab-counter-badge {
    font-weight: inherit;
    @apply gl-ml-2;
  }
}

.gl-tab-content {
  @apply gl-py-3;
  @include gl-font-base;
  @include gl-line-height-normal;
  color: var(--gl-text-color-default);
}

.gl-tab-nav-item-active {
  @include gl-font-weight-bold;
  z-index: 1;

  &:active,
  &:focus,
  &:focus:active {
    @include gl-focus($color: var(--gl-action-neutral-border-color-active));

    .gl-scrollable-tabs-nav & {
      @include gl-focus($inset: true);

      &::before {
        border-radius: 0 0 $gl-border-size-1 $gl-border-size-1;
        left: $gl-border-size-3;
        right: $gl-border-size-3;
        bottom: $gl-border-size-3;
      }
    }

    &::before {
      border-radius: 0 0 $gl-border-size-2 $gl-border-size-2;
      left: 0;
      right: 0;
    }
  }

  &::before {
    border-bottom-color: var(--gl-tab-selected-indicator-color-default);
    translate: 0;
  }
}

.gl-actions-tabs-start {
  @include gl-w-full;
  @include gl-display-flex;
  @include gl-flex-direction-column;
  @apply gl-mt-3;
  @include gl-md-display-none;
}

.gl-actions-tabs-end {
  @include gl-display-none;
  @include gl-flex-grow-1;
  @include gl-justify-content-end;
  @include gl-align-items-center;
  @include gl-flex-direction-row;
  @apply gl-mt-0;
  @include gl-md-display-flex;
}

.gl-actions-tabs-start,
.gl-actions-tabs-end {
  button {
    @apply gl-mb-3;
    @include gl-md-mr-3;
    @include gl-md-mb-0;
  }

  button:last-child {
    @apply gl-m-0;
  }
}

.gl-tabs-fade {
  @include gl-w-8;
  bottom: 0;
  position: sticky;
  @apply gl-p-2;
}

.gl-tabs-fade-left {
  left: 0;
  @include gl-bg-gradient-blur(left, var(--gl-background-color-default));
}

.gl-tabs-fade-right {
  right: 0;
  @include gl-bg-gradient-blur(right, var(--gl-background-color-default));
}

.gl-tabs-fade-icon-button {
  @apply gl-border;
  @include gl-action-neutral-colors;
  @apply gl-p-0;
  @include gl-h-full;
}

.gl-scrollable-tabs-nav {
  @include gl-overflow-hidden;
  position: relative;
  @include gl-flex-nowrap;
}
