/**
* Toggle button
*
* @usage
*  ### Active and Inactive text should be provided as data attributes:
*  <button type="button" class="project-feature-toggle" data-enabled-text="Enabled" data-disabled-text="Disabled">
*  <i class="fa fa-spinner fa-spin loading-icon hidden"></i>
*  </button>

*  ### Checked should have `is-checked` class
*  <button type="button" class="project-feature-toggle is-checked" data-enabled-text="Enabled" data-disabled-text="Disabled">
*  <i class="fa fa-spinner fa-spin loading-icon hidden"></i>
*  </button>

*  ### Disabled should have `is-disabled` class
*  <button type="button" class="project-feature-toggle is-disabled" data-enabled-text="Enabled" data-disabled-text="Disabled" disabled="true">
*  <i class="fa fa-spinner fa-spin loading-icon hidden"></i>
*  </button>
*/

$toggle-width: 4.5 * $grid-size;
$toggle-translate-width: 2 * $grid-size;
$toggle-height: 2.5 * $grid-size;

.gl-toggle-wrapper {
  @apply gl-leading-normal;
  @apply gl-font-normal;
  @apply gl-inline-flex;

  &.is-disabled {
    @include gl-cursor-not-allowed;

    .gl-toggle {
      @include gl-cursor-not-allowed;
      @include gl-bg-gray-200;

      .toggle-icon > svg {
        @include gl-fill-gray-200;
      }
    }

    .gl-toggle.is-checked {
      @include gl-bg-blue-200;

      .toggle-icon > svg {
        @include gl-fill-blue-200;
      }
    }

    .gl-toggle-label,
    .gl-description-label {
      @include gl-text-gray-500;
    }
  }
}

.gl-help-label {
  @apply gl-mt-3;
  @include gl-text-gray-500;
  @apply gl-font-normal;
}

.gl-toggle-label-inline {
  @apply gl-flex-row;
  @apply gl-items-center;

  .gl-toggle-label {
    @apply gl-whitespace-nowrap;
    @apply gl-mb-0;
    @apply gl-mr-3;
  }

  .gl-help-label {
    @apply gl-mt-0;
    @apply gl-ml-3;
  }
}

.gl-toggle-label {
  @apply gl-font-bold;
}

.gl-toggle {
  @apply gl-inline-flex;
  @apply gl-items-center;
  @apply gl-justify-center;
  @apply gl-border-0;
  @include gl-cursor-pointer;
  @include gl-bg-gray-600;
  position: relative;
  width: $toggle-width;
  height: $toggle-height;
  @include gl-outline-none;
  user-select: none;
  @include gl-rounded-pill;
  @include gl-transition-slow;
  @apply gl-leading-normal;

  &::selection,
  &::before::selection,
  &::after::selection {
    @apply gl-bg-transparent;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus:active {
    @include gl-bg-gray-700;
  }

  &:active,
  &:focus,
  &:focus:active {
    @include gl-focus;
  }

  .toggle-loading {
    @include gl-h-5;
  }

  .toggle-icon {
    @include gl-rounded-full;
    @include gl-bg-white;
    position: absolute;
    @apply gl-inline-flex;
    @apply gl-items-center;
    left: $gl-spacing-scale-1;
    top: $gl-spacing-scale-1;
    @apply gl-transition-all;
    @apply gl-justify-center;
    @apply gl-p-1;

    > svg {
      @include gl-w-4;
      @include gl-h-4;
      @include gl-fill-gray-600;
      @include gl-vertical-align-baseline;
    }
  }

  &.is-checked {
    @include gl-bg-blue-500;

    &:hover,
    &:active,
    &:focus,
    &:focus:active {
      @include gl-bg-blue-600;
    }

    .toggle-icon {
      transform: translateX($toggle-translate-width);

      > svg {
        @include gl-fill-blue-500;
      }
    }
  }
}
