/**
 * This component has been migrated to the Duo-UI library (https://gitlab.com/gitlab-org/duo-ui).
 *
 * Please use the corresponding component in Duo-UI going forward.
 * All future development and maintenance for Duo components should take place in Duo-UI.
 *
 * For more details, see the migration epic: https://gitlab.com/groups/gitlab-org/-/epics/15344 or reach out to the Duo-Chat team in #g_duo_chat.
 */

.duo-chat-loader {
  @apply gl-flex;
  @apply gl-text-gray-500;

  .transition {
    @include gl-prefers-reduced-motion-transition;
    transition: width 200ms $gl-easing-out-cubic;
  }

  .text-enter {
    @apply gl-opacity-0;
  }

  .text-enter-active {
    @include gl-prefers-reduced-motion-transition;
    transition: opacity 400ms $gl-easing-out-cubic; // we intentionally overlap this transition with .text-leave-active by 200ms
  }

  .text-enter-to {
    @apply gl-opacity-10;
  }

  .text-leave {
    @apply gl-opacity-10;
  }

  .text-leave-active {
    @include gl-prefers-reduced-motion-transition;
    transition: opacity 200ms $gl-easing-out-cubic;
  }

  .text-leave-to {
    @apply gl-opacity-0;
  }
}
