$duo-code-scrim-bottom-gradient: linear-gradient(to bottom, rgba($gray-10, 0), $gray-10);
$duo-code-scrim-top-gradient: linear-gradient(to top, rgba($gray-10, 0), $gray-10);

.duo-chat-message {
  max-width: 90%;
  position: relative;

  code {
    @apply gl-bg-gray-100;
  }

  pre {
    box-shadow: none !important;
    @apply gl-border gl-max-h-[60vh] gl-px-4 gl-py-3 gl-text-inherit;

    &::before,
    &::after {
      content: '';
      left: 1px;
      width: calc(100% - 2px);
      position: absolute;
      @apply gl-pointer-events-none;
      @apply gl-h-7;
    }

    &.scrim-top {
      &::before {
        background: $duo-code-scrim-top-gradient;
        top: 1px;
        @apply gl-rounded-t-base;
      }
    }

    &.scrim-bottom {
      &::after {
        background: $duo-code-scrim-bottom-gradient;
        bottom: 1px;
        @apply gl-rounded-b-base;
      }
    }
  }

  pre code {
    @apply gl-text-sm;
    @apply gl-leading-1;
    @apply gl-bg-transparent;
    white-space: inherit;
  }

  p:last-of-type {
    @apply gl-mb-0;
  }

  copy-code,
  insert-code-snippet {
    position: absolute;
    @apply gl-transition-all;
    @apply gl-opacity-0;
    right: $gl-spacing-scale-3;
    top: $gl-spacing-scale-3;
  }

  copy-code {
    margin-right: $gl-spacing-scale-8;
  }

  .js-markdown-code.markdown-code-block:hover {
    copy-code,
    copy-code:focus-within,
    insert-code-snippet,
    insert-code-snippet:focus-within {
      @apply gl-opacity-10;
    }
  }

  .has-error {
    margin-left: $gl-spacing-scale-6;
  }

  .error-icon {
    top: 14px;
    position: absolute;
  }
}

.insert-code-hidden {
  insert-code-snippet {
    display: none;
  }

  copy-code {
    margin-right: 0;
  }
}
