.gl-skeleton-loader-default-container {
  width: 235px;
}

.gl-skeleton-loader {
  stop {
    @include gl-opacity-10;
  }

  .primary-stop {
    stop-color: var(--gl-skeleton-loader-background-color);
  }

  .secondary-stop {
    stop-color: var(--gl-skeleton-loader-shimmer-color);
  }
}
