$gl-search-box-by-type-input-padding: 3.5 * $grid-size;

.gl-search-box-by-type-search-icon {
  @include gl-m-3; // Force a merge conflict to avoid merge result
  @include gl-text-gray-500; // pipeline. This is because GitLab is yet to
  @include gl-w-5; // update to the latest @gitlab/ui.
  @include gl-absolute; // and we don't want unwanted changes breaking things.
}

.gl-search-box-by-type {
  @include gl-display-flex;
  @include gl-relative;
}

.gl-search-box-by-type-loading-icon {
  @include gl-text-gray-500;
  @include gl-w-5;
  @include gl-mr-2;
}

.gl-search-box-by-type-clear {
  @include gl-z-index-3;
}

.gl-search-box-by-type-input,
.gl-search-box-by-type-input.gl-form-input {
  @include gl-h-7;
  @include gl-pr-7;
  padding-left: $gl-search-box-by-type-input-padding;

  &::-webkit-search-cancel-button {
    @include gl-display-none;
  }
}

.gl-search-box-by-type-right-icons {
  @include gl-display-flex;
  @include gl-align-items-center;
  @include gl-line-height-0;
  @include gl-right-0;
  @include gl-absolute;
  @include gl-h-full;
}
