.gl-daterange-picker {
  @apply gl-leading-normal;
  @apply gl-text-base;
  @include gl-font-regular;

  label {
    @apply gl-font-bold;
    color: var(--gl-text-color-strong);
  }

  .gl-daterange-picker-indicator {
    @apply gl-flex;
    @apply gl-flex-row;
    @apply gl-items-center;
    @apply gl-self-end;
    @include gl-gap-3;
    @apply gl-h-7;
    color: var(--gl-text-color-subtle);
  }
}
