.gl-token {
  @apply gl-text-gray-900;
  @apply gl-bg-gray-100;
  @include gl-rounded-small;
  @apply gl-pl-3;
  @apply gl-inline-flex;
  @apply gl-flex-col;
  @apply gl-justify-center;

  &.gl-token-view-only {
    @apply gl-py-2;
    @apply gl-pr-3;
  }
}

.gl-token-search-type-variant {
  @apply gl-bg-gray-100;
  @apply gl-rounded-tr-none;
  @apply gl-rounded-br-none;
}

.gl-token-search-value-variant {
  @apply gl-rounded-tl-none;
  @apply gl-rounded-bl-none;
}

.gl-token-content {
  @apply gl-text-sm;
  @apply gl-leading-normal;
  @apply gl-flex;
  @apply gl-items-center;
  @apply gl-text-inherit;

  > .gl-avatar:first-child,
  > .gl-spinner-container:first-child {
    @apply gl-mr-2;
  }
}

.gl-token-close {
  @apply gl-ml-2;
  @apply gl-text-inherit;
  @include gl-cursor-pointer;

  opacity: 0.8;
  color: inherit !important;
  background-color: transparent !important;

  &:hover,
  &:focus {
    @include gl-opacity-10;
  }

  &:focus,
  &:hover:focus {
    @include gl-focus($important: true);
  }
}
