/*
This is a temporary measure to ensure custom select styles are not affected by our
lack of an autoprefixer tool for compiling bootstrap.

TODO: Remove once bootstrap is included in GitLab UI or we include an autoprefixer
on gitlab
See: https://gitlab.com/gitlab-org/gitlab/issues/30055
*/

/* stylelint-disable property-no-vendor-prefix */
.gl-form-select {
  @include gl-font-base;
  @include gl-font-regular;
  @include gl-text-gray-900;
  @include gl-opacity-10;
  @include gl-line-height-normal;
  @include gl-h-auto;
  @include gl-appearance-none;
  @include gl-text-truncate;
  @include gl-bg-no-repeat;
  padding: calc($gl-spacing-scale-3 - 1px) calc($gl-spacing-scale-4 - 1px);
  padding-right: $gl-spacing-scale-2 + $gl-spacing-scale-6;
  border: 1px solid $gray-400;
  background-image: url($gl-icon-select-chevron-down);

  &:focus,
  &:focus:active {
    @include gl-focus-mouse;
  }

  &:focus:active {
    outline: none;
    box-shadow: none !important;
    animation: none;
  }

  &:disabled {
    @include gl-bg-gray-10;
    @include gl-text-gray-500;
    @include gl-cursor-not-allowed;
    border-color: $gray-100;
  }

  &.is-invalid:not(:disabled) {
    border-color: $red-400;

    &:hover {
      border-color: $red-500;
    }
  }
}

@each $name, $size in $gl-form-input-sizes {
  .gl-form-select-#{$name} {
    max-width: $size;
  }

  @each $breakpointName, $breakpointSize in $gl-form-input-sizes {
    @if $breakpointName != xs {
      .gl-#{$breakpointName}-form-select-#{$name} {
        @include gl-media-breakpoint-up($breakpointName) {
          max-width: $size;
        }
      }
    }
  }
}

/* stylelint-enable property-no-vendor-prefix */
