.gl-close-btn-color-inherit {
  color: var(--gl-close-button-icon-color-default) !important;
  background-color: var(--gl-close-button-background-color-default) !important;
  mix-blend-mode: initial !important;

  .gl-icon {
    color: inherit !important;
  }

  &:hover {
    color: var(--gl-close-button-icon-color-hover) !important;
    background-color: var(--gl-close-button-background-color-hover) !important;
  }

  &:focus {
    color: var(--gl-close-button-icon-color-focus) !important;
    background-color: var(--gl-close-button-background-color-focus) !important;
  }

  &:active {
    color: var(--gl-close-button-icon-color-active) !important;
    background-color: var(--gl-close-button-background-color-active) !important;
  }
}
