// Breadcrumb max width 128px
$breadcrumb-max-width: $grid-size * 16;

.gl-breadcrumbs {
  @include gl-display-flex;
}

.gl-breadcrumb-list {
  @include gl-bg-transparent;
  @include gl-p-0;
  @include gl-align-items-center;
  @include gl-line-height-normal;
  @include gl-m-0;
  @include gl-flex-nowrap;
  @include gl-max-w-full;
}

// bootstrap overrides
.gl-breadcrumb-item {
  @include gl-font-sm;
  @include gl-line-height-normal;
  @include gl-flex-shrink-0;

  &:not(:last-child)::after {
    color: var(--gl-breadcrumb-separator-color);
    @include gl-px-3;
    content: '/';
  }

  > a {
    @include gl-display-inline-block;
    border-radius: $gl-border-radius-base;
    color: var(--gl-text-color-subtle);
    text-decoration-thickness: auto;
    text-decoration-style: solid;
    text-decoration-color: transparent;
    @include gl-prefers-reduced-motion-transition;
    transition: box-shadow $gl-transition-duration-medium $gl-easing-out-cubic,
                text-decoration-color $gl-transition-duration-medium $gl-easing-out-cubic;

    &:hover {
      text-decoration-color: currentColor;
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-focus;
    }
  }
}

.gl-breadcrumb-item:last-child > a {
  color: var(--gl-text-color-default);
  @include gl-font-weight-bold;
}
