.btn-group.gl-segmented-control {
  .btn:not(:first-child),
  .btn:not(:last-child) {
    &.active,
    &.focus,
    &:hover:not(.disabled) {
      @include gl-rounded-base;
    }
  }
}

.gl-segmented-control {
  label:not(.disabled) {
    @include gl-cursor-pointer;
  }

  .btn-gl-segmented-button {
    @include gl-font-base;
    @include gl-line-height-normal;
    @include gl-text-gray-900;
    @include gl-fill-current-color;
    @include gl-bg-gray-10;
    border: 1px solid $gray-200;

    &:first-child {
      border-right-color: transparent;
    }

    &:last-child {
      border-left-color: transparent;
    }

    &:hover {
      border-color: $gray-400;
      @include gl-bg-gray-50;
    }

    &.active {
      @include gl-z-index-2;
      border-color: $gray-300;
      @include gl-bg-white;

      &:hover {
        border-color: $gray-400;
        @include gl-bg-gray-50;
      }
    }

    &:focus {
      @include gl-focus-mouse;
      @include gl-z-index-1;
      @include gl-bg-gray-50;
    }

    &:focus-visible,
    &.focus {
      @include gl-focus-keyboard;
    }

    &:focus:active {
      outline: none;
      box-shadow: none !important;
      animation: none;
    }

    &.disabled,
    &[disabled],
    &.disabled:hover,
    &[disabled]:hover {
      @include gl-text-gray-400;
      @include gl-z-index-0;
      @include gl-cursor-not-allowed;
      border: 1px solid $gray-200;

      &:first-child {
        border-right-color: transparent;
      }

      &:last-child {
        border-left-color: transparent;
      }
    }
  }
}
