.btn-group.gl-segmented-control {
  .btn:not(:first-child),
  .btn:not(:last-child) {
    &.active,
    &.focus,
    &:hover:not(.disabled) {
      @apply gl-rounded-base;
    }
  }
}

.gl-segmented-control {
  label:not(.disabled) {
    @include gl-cursor-pointer;
  }

  .btn-gl-segmented-button {
    @include gl-font-base;
    @include gl-line-height-normal;
    @include gl-text-gray-900;
    @include gl-fill-current-color;
    @include gl-bg-gray-10;

    &:not(:first-child, :last-child) {
      border-right-width: 0;
      border-left-width: 0;
      @include gl-px-4;
    }

    &:first-child {
      border-right-width: 0;
      @include gl-pr-4;
      @include gl-padding-minus-border($left: $gl-spacing-scale-4);
    }

    &:last-child {
      border-left-width: 0;
      @include gl-pl-4;
      @include gl-padding-minus-border($right: $gl-spacing-scale-4);
    }

    &:hover,
    &.focus,
    &.active {
      border-width: $gl-border-size-2;
      @include gl-padding-minus-border($x: $gl-spacing-scale-4, $y: $gl-spacing-scale-3, $border-width: $gl-border-size-2);
    }

    &:hover {
      @include gl-bg-gray-50;
      border-color: $gray-400;
    }

    &.focus {
      @include gl-z-index-1;
      @include gl-focus;
      @include gl-bg-gray-50;
      border-color: $gray-400;
    }

    &.active {
      @include gl-z-index-2;
      border-color: $gray-300;
      @include gl-bg-white;
    }

    &:focus-within {
      @include gl-focus;
    }

    &.disabled,
    &[disabled],
    &.disabled:hover,
    &[disabled]:hover {
      @include gl-text-gray-400;
      @include gl-z-index-0;
      @include gl-cursor-not-allowed;
      border-width: $gl-border-size-1;
      border-color: $gray-200;
      box-shadow: none;
      margin: 0;

      &:not(:first-child, :last-child) {
        border-right-width: 0;
        border-left-width: 0;
      }

      &:first-child {
        border-right-width: 0;
      }

      &:last-child {
        border-left-width: 0;
      }
    }
  }
}
