$label-max-width: 100%;

.gl-label {
  @include gl-align-items-center;
  background-color: var(--gl-background-color-default);
  @include gl-overflow-hidden;
  @include gl-display-inline-flex;
  @include gl-rounded-pill;
  position: relative;
  gap: $gl-spacing-scale-1;
  @include gl-max-w-full;
  @include gl-font-sm;
  @include gl-line-height-normal;
  box-shadow: var(--label-inset-border) !important;

  @media (forced-colors: active) {
    border: 1px solid; // stylelint-disable-line declaration-property-value-disallowed-list
  }

  &:not(.gl-label-scoped) {
    background-color: var(--label-background-color);
  }

  &:has(*:first-child:focus) {
    @include gl-focus($color: var(--label-background-color, --gl-background-color-default), $important: true);
  }

  .gl-label-link {
    @include gl-display-flex;
    @include gl-font-weight-normal;
    @include gl-overflow-hidden;
    @include gl-reset-color;
    @include gl-max-w-full;
    @include gl-text-decoration-none;

    &:focus,
    &:hover,
    &:focus:active {
      @include gl-reset-color;
      @include gl-shadow-none;
      @include gl-outline-none;
    }
  }

  .gl-label-text,
  .gl-label-text-scoped {
    @include gl-display-block;
    padding: $gl-spacing-scale-1 #{$gl-spacing-scale-3 - $gl-spacing-scale-1};
    @include str-truncated($label-max-width);
  }

  > .gl-label-close.gl-button {
    @include gl-border-0;
    @include gl-display-flex;
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    padding: 0 !important;
    border: 0;
    @include gl-shadow-none;
    @include gl-rounded-full;

    .gl-label-close-icon {
      @include gl-rounded-full;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
      .gl-label-close-icon {
        color: var(--gl-text-color-disabled);
        background-color: transparent;
      }
    }

    &:focus,
    &:active {
      @include gl-focus($inset: true);
    }

    .gl-icon {
      vertical-align: -1px;
    }
  }
}

.gl-label-text-dark {
  color: var(--gl-label-light-text-color);

  .gl-label-close.gl-button {
    .gl-label-close-icon {
      color: var(--gl-label-light-button-icon-color-default);
      background-color: var(--gl-label-light-button-icon-background-default);
    }

    &:focus,
    &:hover {
      .gl-label-close-icon {
        color: var(--gl-label-light-button-icon-color-hover);
        background-color: var(--gl-label-light-button-icon-background-hover);
      }
    }
  }
}

.gl-label-text-light {
  color: var(--gl-label-dark-text-color);

  .gl-label-close.gl-button {
    .gl-label-close-icon {
      color: var(--gl-label-dark-button-icon-color-default);
      background-color: var(--gl-label-dark-button-icon-background-default);
    }

    &:focus,
    &:hover {
      .gl-label-close-icon {
        color: var(--gl-label-dark-button-icon-color-hover);
        background-color: var(--gl-label-dark-button-icon-background-hover);
      }
    }
  }
}

.gl-label-scoped {
  .gl-label-text {
    background-color: var(--label-background-color);

    @media (forced-colors: active) {
      border-right: 1px solid;
    }
  }

  .gl-label-text-scoped {
    color: var(--gl-label-scoped-text-color);
  }

  .gl-label-close.gl-button {
    .gl-label-close-icon {
      color: var(--gl-label-scoped-button-icon-color-default);
      background-color: var(--gl-label-scoped-button-icon-background-default);
    }

    &:focus,
    &:hover {
      .gl-label-close-icon {
        color: var(--gl-label-scoped-button-icon-color-hover);
        background-color: var(--gl-label-scoped-button-icon-background-hover);
      }
    }
  }
}

.gl-label-tooltip-title {
  @include gl-display-block;
  @include gl-text-theme-indigo-300;
  @include gl-font-weight-bold;
}
