/**
* Font family utilities.
*
* naming convention: gl-font-{family-name}
* Notes:
* - Strictly based on design system typography specs
*/
@mixin gl-font-monospace {
  font-family: $gl-monospace-font;
  font-variant-ligatures: none;
}

@mixin gl-font-regular {
  font-family: $gl-regular-font;
}

/**
* Font style utilities.
*
* naming convention: gl-font-style-{family-name}
*/
@mixin gl-font-style-italic {
  font-style: italic;
}

@mixin gl-font-style-normal {
  font-style: normal;
}

/**
* Font size utilities.
*
* naming convention: gl-font-size-{type}
* Notes:
* - Strictly based on design system type scale. See
* $gl-typescale for further references.
*/
@mixin gl-font-size-sm {
  font-size: var(--gl-font-size-sm);
}

@mixin gl-font-size {
  font-size: var(--gl-font-size-p);
}

@mixin gl-font-size-lg {
  font-size: var(--gl-font-size-lg);
}

@mixin gl-font-size-h-display {
  font-size: var(--gl-font-size-h-display);
}

@mixin gl-font-size-h1 {
  font-size: var(--gl-font-size-h1);
}

@mixin gl-font-size-h2 {
  font-size: var(--gl-font-size-h2);
}

@mixin gl-font-size-h3 {
  font-size: var(--gl-font-size-h3);
}

@mixin gl-font-size-h4 {
  font-size: var(--gl-font-size-h4);
}

@mixin gl-font-size-h5 {
  font-size: var(--gl-font-size-h5);
}

@mixin gl-font-size-h6 {
  font-size: var(--gl-font-size-h6);
}

@mixin gl-font-icon-size {
  font-size: $default-icon-size;
}

@mixin gl-reset-font-size {
  font-size: inherit;
}

// Legacy
@mixin gl-font-sm {
  @include gl-font-size-sm;
}

@mixin gl-font-base {
  @include gl-font-size;
}

@mixin gl-font-lg {
  @include gl-font-size-lg;
}

/**
* Font-weight utilities.
*
* naming convention: gl-font-weight-[bold|normal|number]
*/

@mixin gl-font-weight-100 {
  font-weight: 100;
}

@mixin gl-font-weight-300 {
  font-weight: 300;
}

@mixin gl-font-weight-normal {
  font-weight: var(--gl-font-weight-normal);
}

@mixin gl-font-weight-semibold {
  font-weight: $gl-font-weight-semibold;
}

@mixin gl-font-weight-bold {
  font-weight: var(--gl-font-weight-bold);
}

@mixin gl-sm-font-weight-bold {
  @include gl-media-breakpoint-up(sm) {
    @include gl-font-weight-bold;
  }
}

/**
* Line height utilities.
*
* naming convention: gl-line-height-{line-height-in-pixels}
* notes:
* - Strictly based in gl-line-height-{n} variables
*/
@mixin gl-line-height-0 {
  line-height: 0;
}

@mixin gl-line-height-1 {
  line-height: 1;
}

@mixin gl-line-height-label-sm {
  line-height: var(--gl-line-height-label-sm);
}

@mixin gl-line-height-label {
  line-height: var(--gl-line-height-label);
}

@mixin gl-line-height-sm {
  line-height: var(--gl-line-height-sm);
}

@mixin gl-line-height-normal {
  line-height: var(--gl-line-height-p);
}

@mixin gl-line-height-lg {
  line-height: var(--gl-line-height-lg);
}

@mixin gl-line-height-heading {
  line-height: var(--gl-line-height-heading);
}

@mixin gl-reset-line-height {
  line-height: inherit;
}

/**
* Text style utilities.
*
* naming convention: gl-text-style-[name]-[size]
*/
@mixin gl-text-style-h-display {
  @include gl-font-size-h-display;
  @include gl-line-height-heading;
}

@mixin gl-text-style-h1 {
  @include gl-font-size-h1;
  @include gl-line-height-heading;
}

@mixin gl-text-style-h2 {
  @include gl-font-size-h2;
  @include gl-line-height-heading;
}

@mixin gl-text-style-h3 {
  @include gl-font-size-h3;
  @include gl-line-height-heading;
}

@mixin gl-text-style-h4 {
  @include gl-font-size-h4;
  @include gl-line-height-heading;
}

@mixin gl-text-style-h5 {
  @include gl-font-size-h5;
  @include gl-line-height-heading;
}

@mixin gl-text-style-h6 {
  @include gl-font-size-h6;
  @include gl-line-height-heading;
}

@mixin gl-text-style-p-lg {
  @include gl-font-size-lg;
  @include gl-line-height-lg;
}

@mixin gl-text-style-p {
  @include gl-font-size;
  @include gl-line-height-normal;
}

@mixin gl-text-style-p-sm {
  @include gl-font-size-sm;
  @include gl-line-height-sm;
}

@mixin gl-text-style-label {
  @include gl-font-size;
  @include gl-line-height-label;
}

@mixin gl-text-style-label-sm {
  @include gl-font-size-sm;
  @include gl-line-height-label-sm;
}
