.gl-filtered-search-scrollable-container {
  @include gl-bg-white;
  @apply gl-flex;
  @apply gl-grow;
  @apply gl-basis-0;
  @include gl-overflow-hidden;
  @apply gl-items-center;
  @apply gl-py-2;
  @apply gl-pl-4;
  @apply gl-pr-7;
  @apply gl-shadow-inner-1-gray-400;
  @apply gl-border-none;
  @apply gl-rounded-base;

  .input-group-prepend + & {
    @include gl-rounded-left-none;
  }
}

.gl-filtered-search-scrollable-container-with-search-button {
  @include gl-rounded-right-none;
}

.gl-filtered-search-scrollable {
  @apply gl-flex;
  @include gl-overflow-y-auto;
  @apply gl-w-full;
}

.gl-filtered-search-item {
  @apply gl-flex;
  @apply gl-px-1;

  &:first-child {
    @apply gl-pl-0;
  }
}

.gl-filtered-search-last-item {
  .gl-filtered-search-term-value {
    @apply gl-h-full;
    @apply gl-w-full;
    @apply gl-items-center;
  }

  @apply gl-grow;
  @apply gl-p-0;
  @apply gl-pl-1;
  @apply gl-h-6;
  min-width: $gl-spacing-scale-12;
}
