.gl-filtered-search-token {
  &.gl-filtered-search-token-active {
    @include gl-cursor-default;
  }

  @apply gl-h-6;
  @apply gl-inline-flex;
  @apply gl-whitespace-nowrap;
  @include gl-cursor-pointer;

  &.gl-filtered-search-token-hover {
    &:hover {
      .gl-filtered-search-token-type {
        @apply gl-bg-gray-100;
      }

      .gl-filtered-search-token-data,
      .gl-filtered-search-token-operator {
        @apply gl-bg-gray-200;
      }
    }
  }
}

.gl-token {
  @apply gl-rounded-none;

  &.gl-filtered-search-token-type {
    @apply gl-h-6;
    @apply gl-bg-gray-50;
    @apply gl-rounded-tr-none;
    @apply gl-rounded-br-none;
    @apply gl-py-2;
    @apply gl-px-3;
    @apply gl-mr-1;
  }

  &.gl-filtered-search-token-operator {
    @apply gl-h-6;
    @apply gl-bg-gray-50;
    @apply gl-mr-1;
    @apply gl-rounded-none;
  }

  &.gl-filtered-search-token-data {
    @apply gl-h-6;
    @apply gl-bg-gray-100;
    @apply gl-rounded-tr-small;
    @apply gl-rounded-br-small;

    .gl-filtered-search-token-data-content {
      @apply gl-inline-flex;
    }
  }
}

.gl-filtered-search-token-operator-description {
  @apply gl-text-gray-600;
  @include gl-ml-auto;
}
