@import './mixins';
@import './variables';
@import 'true';

@include describe('gl-fluid-font-size') {
  @include it('returns fluid font-size') {
    @include assert {
      @include output {
        @include gl-fluid-font-size(2rem, 3.5rem);
      }
      @include expect {
        @media (min-width: 48rem) {
          // prettier-ignore
          font-size: calc( 2rem + 1.5 * ((100vw - 48rem) / 27));
        }

        @media (min-width: 75rem) {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@include describe('gl-fluid-line-height') {
  @include it('returns fluid line-height') {
    @include assert {
      @include output {
        @include gl-fluid-line-height(2rem, 3.5rem);
      }
      @include expect {
        @media (min-width: 48rem) {
          // prettier-ignore
          line-height: calc( 2rem + 1.5 * ((100vw - 48rem) / 27));
        }

        @media (min-width: 75rem) {
          line-height: 3.5rem;
        }
      }
    }
  }
}
