.gl-pagination {
  @apply gl-text-base;

  a {
    @apply gl-text-gray-900;
  }

  .page-link {
    @apply gl-border-gray-200;
    @apply gl-leading-normal;
    @apply gl-px-4;
    @apply gl-py-3;

    &.prev-page-item,
    &.next-page-item {
      @apply gl-px-3;
    }

    &:not(.active):hover {
      @apply gl-text-gray-900;
      box-shadow: inset 0 0 0 1px $gray-400;
      border-color: $gray-400;
      background: $gray-50;
      @apply gl-z-1;
    }

    &:not(.active):focus {
      @apply gl-bg-gray-50;
    }

    &:not(.active):active,
    &:not(.active).active {
      @apply gl-bg-gray-100;
    }

    &:not(.active):focus,
    &:not(.active):active,
    &:not(.active).active {
      @apply gl-focus;
    }

    &,
    &:active {
      @apply gl-no-underline;
    }
  }

  .page-item {
    &:not(.disabled) a.active {
      @apply gl-bg-blue-500;
      @apply gl-border-blue-500;
      @apply gl-text-white;
      @apply gl-z-2;
      @apply gl-shadow-none;

      &:focus {
        @apply gl-focus;
      }
    }

    &.disabled .page-link {
      @apply gl-bg-gray-10;
      @apply gl-border-gray-200;
      @apply gl-text-gray-500;
    }
  }

  .prev-page-item,
  .next-page-item {
    .gl-icon {
      vertical-align: bottom;
    }
  }
}

// stylelint-disable-next-line @gitlab/no-gl-media-breakpoint-down
@include gl-media-breakpoint-down(sm) {
  .gl-pagination {
    .prev-page-item,
    .next-page-item {
      span {
        display: none;
      }
    }
  }
}
