.gl-pagination {
  @apply gl-text-base;

  a {
    color: var(--gl-action-neutral-foreground-color-default);
  }

                                                                                                                                                                                                                                                                .page-link {
    @include gl-line-height-normal;
    @include gl-px-4;
    @include gl-py-3;
    border-radius: 4px;
      color: var(--gl-action-neutral-foreground-color-default);
      background-color: var(--gl-action-neutral-background-color-default);
      border-color: var(--gl-action-neutral-border-color-default);

    &.prev-page-item,
    &.next-page-item {
      @include gl-px-3;
    }

                &:not(.active):hover {
      @include gl-z-index-1;
      color: var(--gl-action-neutral-foreground-color-hover);
        background-color: var(--gl-action-neutral-background-color-hover);
        border-color: var(--gl-action-neutral-border-color-hover);
        box-shadow: inset 0 0 0 1px var(--gl-action-neutral-border-color-hover);
    }

    &:not(.active):focus {
      color: var(--gl-action-neutral-foreground-color-focus);
        background-color: var(--gl-action-neutral-background-color-focus);
        border-color: var(--gl-action-neutral-border-color-focus);
    }

    &:not(.active):active,
    &:not(.active).active {
      color: var(--gl-action-neutral-foreground-color-active);
        background-color: var(--gl-action-neutral-background-color-active);
        border-color: var(--gl-action-neutral-border-color-active);
    }

    &:not(.active):focus,
    &:not(.active):active,
    &:not(.active).active {
      @include gl-focus();
    }

    &,
    &:active {
      @include gl-text-decoration-none;
    }
  }

  .page-item {
    &:not(.disabled) a.active {
      color: var(--gl-action-selected-foreground-color-default);
        background-color: var(--gl-action-selected-background-color-default);
        border-color: var(--gl-action-selected-border-color-default);
        box-shadow: inset 0 0 0 1px var(--gl-action-selected-border-color-default);
      
        &:hover {
          color: var(--gl-action-selected-foreground-color-hover);
          background-color: var(--gl-action-selected-background-color-hover);
          border-color: var(--gl-action-selected-border-color-hover);
          box-shadow: inset 0 0 0 1px var(--gl-action-selected-border-color-hover);
        }

      &:focus {
        color: var(--gl-action-selected-foreground-color-focus);
          background-color: var(--gl-action-selected-background-color-focus);
          border-color: var(--gl-action-selected-border-color-focus);
          box-shadow: inset 0 0 0 1px var(--gl-action-selected-border-color-focus);
        }
        
        &:active {
          color: var(--gl-action-selected-foreground-color-active);
          background-color: var(--gl-action-selected-background-color-active);
          border-color: var(--gl-action-selected-border-color-active);
          box-shadow: inset 0 0 0 1px var(--gl-action-selected-border-color-active);
        }
        
        &:focus,
        &:active:focus {
        @include gl-focus();
      }
    }

    &.disabled .page-link {
      // background-color: var(--gl-action-disabled-background-color);
        color: var(--gl-action-disabled-foreground-color);
        // reset bootstrap
        border-color: var(--gl-color-alpha-0);
        cursor: not-allowed;
    }
  }

  .prev-page-item,
  .next-page-item {
    .gl-icon {
      vertical-align: bottom;
    }
  }
}

// stylelint-disable-next-line @gitlab/no-gl-media-breakpoint-down
@include gl-media-breakpoint-down(sm) {
  .gl-pagination {
    .prev-page-item,
    .next-page-item {
      span {
        display: none;
      }
    }
  }
}
