// This is overridden in the `gitlab-org/gitlab` codebase so we need to increase specificity using `gl-token-selector`
.gl-token-selector {
  &.gl-token-selector-focus-glow {
    @include gl-focus($color: $gray-900, $important: true);

    &.is-invalid {
      @include gl-focus($color: $red-500, $important: true);
    }
  }
}

.gl-token-selector-token-container:focus .gl-token {
  @include gl-bg-gray-300;
}

.gl-token-selector-input {
  padding-bottom: $gl-spacing-scale-1 + $gl-spacing-scale-2;
  padding-top: $gl-spacing-scale-1 + $gl-spacing-scale-2;
}
