/*
 * Button-specific utilities
 */
@mixin gl-button-border($color) {
  box-shadow: inset 0 0 0 $gl-border-size-1 $color;
}

@mixin gl-button-hover-border($color) {
  box-shadow: inset 0 0 0 $gl-border-size-2 $color;
}

@mixin gl-button-selected-border($color, $focus-ring: null) {
  @if $focus-ring {
    box-shadow: inset 0 0 0 $gl-border-size-2 $color, $focus-ring;
  } @else {
    box-shadow: inset 0 0 0 $gl-border-size-2 $color;
  }
}

@mixin gl-button-theme(
  $color: null,
  $background-color: null,
  $border-color: null,
  $hover-color: null,
  $hover-background-color: null,
  $hover-border-color: null,
  $focus-color: null,
  $focus-background-color: null,
  $focus-border-color: null,
  $active-color: null,
  $active-background-color: null,
  $active-border-color: null,
) {
  color: $color;
  background-color: $background-color;
  @include gl-button-border($border-color);

  &:hover {
    color: $hover-color;
    background-color: $hover-background-color;
    @include gl-button-hover-border($hover-border-color);
  }

  &:focus {
    color: $focus-color;
    background-color: $focus-background-color;
    @include gl-focus($color: $focus-border-color);
  }

  &:active,
  &.active {
    color: $active-color;
    background-color: $active-background-color;
    @include gl-focus($color: $active-border-color);

    &:focus {
      @include gl-focus($color: $active-border-color);
    }
  }
}

.gl-button {
  @include gl-display-inline-flex;
}

.gl-button:not(.btn-link) {
  &:focus,
  &:active,
  &:focus:active {
    @include gl-text-decoration-none;
  }
}

.gl-button.gl-button,
.gl-button.gl-button.btn-block {
  @apply gl-border-0;
  @apply gl-rounded-base;
  @apply gl-py-3;
  @apply gl-px-4;
  background-color: var(--gl-button-default-primary-background-color-default);
  @include gl-line-height-normal;
  color: var(--gl-button-default-primary-foreground-color-default);
  @include gl-fill-current-color;
  @include gl-button-border(var(--gl-button-default-primary-border-color-default));
  @include gl-justify-content-center;
  @include gl-align-items-center;
  @include gl-font-base;

  @media (forced-colors: active) {
    border: 1px solid;
  }

  .gl-button-text {
    @include gl-overflow-hidden;
    @include gl-text-overflow-ellipsis;
    @include gl-white-space-nowrap;
    // Added to address a FF bug which causes cut off text: https://bugzilla.mozilla.org/show_bug.cgi?id=1406552
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .gl-button-icon {
    @include gl-h-5;
    @include gl-w-5;
    @include gl-flex-shrink-0;
    @apply gl-mr-2;
    top: auto;
  }

  gl-emoji {
    @apply gl-mr-2;
    position: relative;
    @include gl-font-lg;
  }

  &.btn-default,
  &.btn-default-secondary {
    @include gl-button-theme(
      $color: var(--gl-button-default-primary-foreground-color-default),
      $background-color: var(--gl-button-default-primary-background-color-default),
      $border-color: var(--gl-button-default-primary-border-color-default),
      $hover-color: var(--gl-button-default-primary-foreground-color-hover),
      $hover-background-color: var(--gl-button-default-primary-background-color-hover),
      $hover-border-color: var(--gl-button-default-primary-border-color-hover),
      $focus-color: var(--gl-button-default-primary-foreground-color-focus),
      $focus-background-color: var(--gl-button-default-primary-background-color-focus),
      $focus-border-color: var(--gl-button-default-primary-border-color-focus),
      $active-color: var(--gl-button-default-primary-foreground-color-active),
      $active-background-color: var(--gl-button-default-primary-background-color-active),
      $active-border-color: var(--gl-button-default-primary-border-color-active),
    );

    &.selected {
      color: var(--gl-button-selected-foreground-color-default);
      background-color: var(--gl-button-selected-background-color-default);
      @include gl-button-selected-border(var(--gl-button-selected-border-color-default));

      &:hover {
        color: var(--gl-button-selected-foreground-color-hover);
        background-color: var(--gl-button-selected-background-color-hover);
        @include gl-button-selected-border(var(--gl-button-selected-border-color-hover));
      }

      &:focus {
        color: var(--gl-button-selected-foreground-color-focus);
        background-color: var(--gl-button-selected-background-color-focus);
        @include gl-button-selected-border(var(--gl-button-selected-border-color-focus), $focus-ring);
      }

      &:active,
      &.active {
        color: var(--gl-button-selected-foreground-color-active);
        background-color: var(--gl-button-selected-background-color-active);
        @include gl-button-selected-border(var(--gl-button-selected-border-color-active), $focus-ring);

        &:focus {
          @include gl-button-selected-border(var(--gl-button-selected-border-color-active), $focus-ring);
        }
      }
    }
  }

  &.btn-default-tertiary,
  &.btn-dashed {
    @include gl-button-theme(
      $color: var(--gl-button-default-tertiary-foreground-color-default),
      $background-color: var(--gl-button-default-tertiary-background-color-default),
      $border-color: var(--gl-button-default-tertiary-border-color-default),
      $hover-color: var(--gl-button-default-tertiary-foreground-color-hover),
      $hover-background-color: var(--gl-button-default-tertiary-background-color-hover),
      $hover-border-color: var(--gl-button-default-tertiary-border-color-hover),
      $focus-color: var(--gl-button-default-tertiary-foreground-color-focus),
      $focus-background-color: var(--gl-button-default-tertiary-background-color-focus),
      $focus-border-color: var(--gl-button-default-tertiary-border-color-focus),
      $active-color: var(--gl-button-default-tertiary-foreground-color-active),
      $active-background-color: var(--gl-button-default-tertiary-background-color-active),
      $active-border-color: var(--gl-button-default-tertiary-border-color-active),
    );
  }

  &.btn-confirm,
  &.btn-info {
    @include gl-button-theme(
      $color: var(--gl-button-confirm-primary-foreground-color-default),
      $background-color: var(--gl-button-confirm-primary-background-color-default),
      $border-color: var(--gl-button-confirm-primary-border-color-default),
      $hover-color: var(--gl-button-confirm-primary-foreground-color-hover),
      $hover-background-color: var(--gl-button-confirm-primary-background-color-hover),
      $hover-border-color: var(--gl-button-confirm-primary-border-color-hover),
      $focus-color: var(--gl-button-confirm-primary-foreground-color-focus),
      $focus-background-color: var(--gl-button-confirm-primary-background-color-focus),
      $focus-border-color: var(--gl-button-confirm-primary-border-color-focus),
      $active-color: var(--gl-button-confirm-primary-foreground-color-active),
      $active-background-color: var(--gl-button-confirm-primary-background-color-active),
      $active-border-color: var(--gl-button-confirm-primary-border-color-active),
    );
  }

  &.btn-confirm-secondary,
  &.btn-info-secondary {
    @include gl-button-theme(
      $color: var(--gl-button-confirm-secondary-foreground-color-default),
      $background-color: var(--gl-button-confirm-secondary-background-color-default),
      $border-color: var(--gl-button-confirm-secondary-border-color-default),
      $hover-color: var(--gl-button-confirm-secondary-foreground-color-hover),
      $hover-background-color: var(--gl-button-confirm-secondary-background-color-hover),
      $hover-border-color: var(--gl-button-confirm-secondary-border-color-hover),
      $focus-color: var(--gl-button-confirm-secondary-foreground-color-focus),
      $focus-background-color: var(--gl-button-confirm-secondary-background-color-focus),
      $focus-border-color: var(--gl-button-confirm-secondary-border-color-focus),
      $active-color: var(--gl-button-confirm-secondary-foreground-color-active),
      $active-background-color: var(--gl-button-confirm-secondary-background-color-active),
      $active-border-color: var(--gl-button-confirm-secondary-border-color-active),
    );
  }

  &.btn-confirm-tertiary,
  &.btn-info-tertiary {
    @include gl-button-theme(
      $color: var(--gl-button-confirm-tertiary-foreground-color-default),
      $background-color: var(--gl-button-confirm-tertiary-background-color-default),
      $border-color: var(--gl-button-confirm-tertiary-border-color-default),
      $hover-color: var(--gl-button-confirm-tertiary-foreground-color-hover),
      $hover-background-color: var(--gl-button-confirm-tertiary-background-color-hover),
      $hover-border-color: var(--gl-button-confirm-tertiary-border-color-hover),
      $focus-color: var(--gl-button-confirm-tertiary-foreground-color-focus),
      $focus-background-color: var(--gl-button-confirm-tertiary-background-color-focus),
      $focus-border-color: var(--gl-button-confirm-tertiary-border-color-focus),
      $active-color: var(--gl-button-confirm-tertiary-foreground-color-active),
      $active-background-color: var(--gl-button-confirm-tertiary-background-color-active),
      $active-border-color: var(--gl-button-confirm-tertiary-border-color-active),
    );
  }

  &.btn-danger {
    @include gl-button-theme(
      $color: var(--gl-button-danger-primary-foreground-color-default),
      $background-color: var(--gl-button-danger-primary-background-color-default),
      $border-color: var(--gl-button-danger-primary-border-color-default),
      $hover-color: var(--gl-button-danger-primary-foreground-color-hover),
      $hover-background-color: var(--gl-button-danger-primary-background-color-hover),
      $hover-border-color: var(--gl-button-danger-primary-border-color-hover),
      $focus-color: var(--gl-button-danger-primary-foreground-color-focus),
      $focus-background-color: var(--gl-button-danger-primary-background-color-focus),
      $focus-border-color: var(--gl-button-danger-primary-border-color-focus),
      $active-color: var(--gl-button-danger-primary-foreground-color-active),
      $active-background-color: var(--gl-button-danger-primary-background-color-active),
      $active-border-color: var(--gl-button-danger-primary-border-color-active),
    );
  }

  &.btn-danger-secondary {
    @include gl-button-theme(
      $color: var(--gl-button-danger-secondary-foreground-color-default),
      $background-color: var(--gl-button-danger-secondary-background-color-default),
      $border-color: var(--gl-button-danger-secondary-border-color-default),
      $hover-color: var(--gl-button-danger-secondary-foreground-color-hover),
      $hover-background-color: var(--gl-button-danger-secondary-background-color-hover),
      $hover-border-color: var(--gl-button-danger-secondary-border-color-hover),
      $focus-color: var(--gl-button-danger-secondary-foreground-color-focus),
      $focus-background-color: var(--gl-button-danger-secondary-background-color-focus),
      $focus-border-color: var(--gl-button-danger-secondary-border-color-focus),
      $active-color: var(--gl-button-danger-secondary-foreground-color-active),
      $active-background-color: var(--gl-button-danger-secondary-background-color-active),
      $active-border-color: var(--gl-button-danger-secondary-border-color-active),
    );
  }

  &.btn-danger-tertiary {
    @include gl-button-theme(
      $color: var(--gl-button-danger-tertiary-foreground-color-default),
      $background-color: var(--gl-button-danger-tertiary-background-color-default),
      $border-color: var(--gl-button-danger-tertiary-border-color-default),
      $hover-color: var(--gl-button-danger-tertiary-foreground-color-hover),
      $hover-background-color: var(--gl-button-danger-tertiary-background-color-hover),
      $hover-border-color: var(--gl-button-danger-tertiary-border-color-hover),
      $focus-color: var(--gl-button-danger-tertiary-foreground-color-focus),
      $focus-background-color: var(--gl-button-danger-tertiary-background-color-focus),
      $focus-border-color: var(--gl-button-danger-tertiary-border-color-focus),
      $active-color: var(--gl-button-danger-tertiary-foreground-color-active),
      $active-background-color: var(--gl-button-danger-tertiary-background-color-active),
      $active-border-color: var(--gl-button-danger-tertiary-border-color-active),
    );
  }

  &.btn-default-secondary,
  &.btn-dashed-secondary,
  &.btn-confirm-secondary,
  &.btn-info-secondary,
  &.btn-success-secondary,
  &.btn-danger-secondary,
  &.btn-reset-secondary,
  &.btn-reset-tertiary {
    @media (forced-colors: active) {
      color: LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
      border: 1px solid LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
    }
  }

  &.btn-default,
  &.btn-dashed,
  &.btn-confirm,
  &.btn-info,
  &.btn-success,
  &.btn-danger {
    &-tertiary {
      @include gl-shadow-none;

      @media (forced-colors: active) {
        color: LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
        mix-blend-mode: initial;
        border: 0;
      }

      &:hover {
        @include gl-shadow-none;
      }

      &:active,
      &:focus,
      &:focus:active {
        @include gl-focus;
      }
    }
  }

  &.btn-default-tertiary,
  &.btn-confirm-tertiary,
  &.btn-danger-tertiary {
    @media (forced-colors: active) {
      color: $black;
      border: 0;
    }
  }

  &.btn-success {
    @include gl-text-contrast-light;
    @include gl-bg-green-500;
    @include gl-inset-border-1-green-600;

    &:hover {
      @include gl-button-hover-border($green-800);
      background-color: $green-600;
    }

    &:focus {
      @include gl-focus($color: $green-800);
      @include gl-bg-green-600;
    }

    &:active,
    &.active {
      @include gl-focus($color: $green-900);
      @include gl-bg-green-700;

      &:focus {
        @include gl-focus($color: $green-900);
      }
    }
  }

  &.btn-success-secondary {
    @include gl-bg-white;
  }

  &.btn-success-secondary,
  &.btn-success-tertiary {
    @include gl-bg-transparent;
    @include gl-text-green-500;
    @include gl-font-weight-normal;
    @include gl-inset-border-1-green-500;

    &:hover {
      @include gl-text-green-700;
      @include gl-button-hover-border($green-700);
      background-color: $green-50;
    }

    &:focus {
      @include gl-text-green-700;
      @include gl-focus($color: $green-700);
      @include gl-bg-green-50;
    }

    &:active,
    &.active {
      @include gl-text-green-900;
      @include gl-focus($color: $green-900);
      @include gl-bg-green-100;

      &:focus {
        @include gl-focus($color: $green-900);
      }
    }
  }

  &.btn-sm {
    @apply gl-py-2;
    @apply gl-px-3;
    @include gl-line-height-normal;
    @include gl-font-base;

    gl-emoji {
      @include gl-font-sm;
    }
  }

  &.btn-dashed,
  &.btn-dashed-tertiary {
    @include gl-button-border(var(--gl-button-dashed-border-color-default));
    outline: 3px dotted var(--gl-background-color-default);
    outline-offset: (-$gl-border-size-1);

    &:hover {
      @include gl-button-border($color: var(--gl-button-dashed-border-color-hover));
      outline: 3px dotted var(--gl-background-color-default);
      outline-offset: (-$gl-border-size-1);
    }

    &:focus {
      @include gl-focus($color: var(--gl-button-dashed-border-color-focus));
      outline: 3px dotted var(--gl-background-color-default);
      outline-offset: (-$gl-border-size-1);
    }

    &:active,
    &.active {
      @include gl-focus($color: var(--gl-button-dashed-border-color-active));
      outline: 3px dotted var(--gl-background-color-default);
      outline-offset: (-$gl-border-size-1);

      &:focus {
        @include gl-focus($color: var(--gl-button-dashed-border-color-active));
        outline: 3px dotted var(--gl-background-color-default);
        outline-offset: (-$gl-border-size-1);
      }
    }
  }

  &.btn-icon {
    @apply gl-p-3;
    @include gl-line-height-normal;

    .gl-button-icon {
      @apply gl-mr-0;
    }

    &.btn-sm {
      @apply gl-p-2;
    }
  }

  &.button-ellipsis-horizontal,
  &.button-ellipsis-horizontal.btn-sm {
    @apply gl-py-0;
    @apply gl-px-2;

    svg {
      @include gl-h-5;
      @include gl-w-5;
      @apply gl-m-0;
    }
  }

  &.btn-label,
  &.btn-label:hover,
  &.btn-label:focus,
  &.btn-label:active {
    background-color: var(--gl-background-color-subtle);
    @include gl-cursor-default;
    user-select: text;
  }

  &.btn-link {
    @include gl-bg-transparent;
    @apply gl-border-0;
    @include gl-font-base;
    @include gl-line-height-normal;
    color: var(--gl-button-link-text-color-default);
    @apply gl-py-0;
    @apply gl-px-0;
    @include gl-shadow-none;

    &:hover {
      @include gl-bg-transparent;
      color: var(--gl-button-link-text-color-hover);
    }

    &:active {
      color: var(--gl-button-link-text-color-active);
      @include gl-text-decoration-underline;
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-bg-transparent;
      @include gl-focus;
    }

    &.disabled,
    &[disabled] {
      @include gl-bg-transparent;
      @include gl-shadow-none;
    }
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active,
  &.disabled.selected,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active,
  &[disabled].selected {
    background-color: var(--gl-button-disabled-background-color);
    color: var(--gl-button-disabled-foreground-color);
    @include gl-button-border(var(--gl-button-disabled-border-color));
    opacity: 1;
    cursor: not-allowed !important;
  }

  &.disabled[class*='-tertiary'],
  &[disabled][class*='-tertiary'] {
    @include gl-bg-transparent;
    @include gl-shadow-none;
  }
}
