/*
 * Button-specific utilities
 */
@mixin gl-button-border($color) {
  box-shadow: inset 0 0 0 $gl-border-size-1 $color;
}

@mixin gl-button-selected-border($color, $focus-ring: false) {
  @if $focus-ring {
    box-shadow: inset 0 0 0 $gl-border-size-2 $color, $focus-ring;
  } @else {
    box-shadow: inset 0 0 0 $gl-border-size-2 $color;
  }
}

@mixin gl-button-hover-border($color) {
  box-shadow:
    inset 0 0 0 $gl-border-size-2 $color,
    0 $gl-border-size-2 $gl-border-size-2 0 var(--gl-color-alpha-dark-8);
}

@mixin gl-button-theme(
  $color: false,
  $background-color: false,
  $border-color: false,
  $icon-color: false,
  $hover-color: false,
  $hover-background-color: false,
  $hover-border-color: false,
  $hover-icon-color: false,
  $focus-color: false,
  $focus-background-color: false,
  $focus-border-color: false,
  $focus-icon-color: false,
  $active-color: false,
  $active-background-color: false,
  $active-border-color: false,
  $active-icon-color: false,
  $selected-border-color: false,
) {
  color: $color;
  background-color: $background-color;

  @if $border-color {
    @include gl-button-border($border-color);
  }

  .gl-icon {
    color: $icon-color;
  }

  &:hover {
    color: $hover-color;
    background-color: $hover-background-color;

    @if $hover-border-color {
      @include gl-button-hover-border($hover-border-color);
    }

    .gl-icon {
      color: $hover-icon-color;
    }
  }

  &:focus {
    color: $focus-color;
    background-color: $focus-background-color;

    @if $focus-border-color {
      @include gl-focus($color: $focus-border-color);
    }

    .gl-icon {
      color: $focus-icon-color;
    }
  }

  &:active,
  &.active {
    color: $active-color;
    background-color: $active-background-color;

    @if $active-border-color {
      @include gl-focus($color: $active-border-color);

      &:focus {
        @include gl-focus($color: $active-border-color);
      }
    }

    .gl-icon {
      color: $active-icon-color;
    }
  }

  @if $selected-border-color {
    &.selected {
      @include gl-button-selected-border($selected-border-color);

      &:hover {
        @include gl-button-selected-border($hover-border-color);
      }

      &:focus {
        @include gl-button-selected-border($focus-border-color, $focus-ring);
      }

      &:active,
      &:active:focus {
        @include gl-button-selected-border($active-border-color, $focus-ring);
      }
    }
  }
}

.gl-button {
  @include gl-display-inline-flex;
}

.gl-button:not(.btn-link) {
  &:focus,
  &:active,
  &:focus:active {
    @include gl-text-decoration-none;
  }
}

.gl-button.gl-button,
.gl-button.gl-button.btn-block {
  @apply gl-border-0;
  @include gl-py-3;
  @include gl-px-4;
  background-color: var(--gl-button-default-primary-background-color-default);
  @include gl-line-height-normal;
  color: var(--gl-button-default-primary-text-color-default);
  @include gl-fill-current-color;
  @include gl-button-border(var(--gl-button-default-primary-border-color-default));
  @include gl-justify-content-center;
  @include gl-align-items-center;
  @include gl-font-base;
  @include gl-rounded-base;

  @media (forced-colors: active) {
    border: 1px solid;
  }

  .gl-button-text {
    @include gl-overflow-hidden;
    @include gl-text-overflow-ellipsis;
    @include gl-white-space-nowrap;
    // Added to address a FF bug which causes cut off text: https://bugzilla.mozilla.org/show_bug.cgi?id=1406552
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .gl-button-icon {
    @include gl-h-5;
    @include gl-w-5;
    @include gl-flex-shrink-0;
    @include gl-mr-2;
    top: auto;
  }

  gl-emoji {
    @include gl-mr-2;
    position: relative;
    @include gl-font-lg;
  }

  &.btn-default,
  &.btn-dashed {
    @include gl-button-theme(
      $color: var(--gl-button-default-primary-text-color-default),
      $background-color: var(--gl-button-default-primary-background-color-default),
      $border-color: var(--gl-button-default-primary-border-color-default),
      $icon-color: var(--gl-button-default-primary-icon-color-default),
      $hover-color: var(--gl-button-default-primary-text-color-hover),
      $hover-background-color: var(--gl-button-default-primary-background-color-hover),
      $hover-border-color: var(--gl-button-default-primary-border-color-hover),
      $hover-icon-color: var(--gl-button-default-primary-icon-color-hover),
      $focus-color: var(--gl-button-default-primary-text-color-focus),
      $focus-background-color: var(--gl-button-default-primary-background-color-focus),
      $focus-border-color: var(--gl-button-default-primary-border-color-focus),
      $focus-icon-color: var(--gl-button-default-primary-icon-color-focus),
      $active-color: var(--gl-button-default-primary-text-color-active),
      $active-background-color: var(--gl-button-default-primary-background-color-active),
      $active-border-color: var(--gl-button-default-primary-border-color-active),
      $active-icon-color: var(--gl-button-default-primary-icon-color-active),
      $selected-border-color: var(--gl-button-default-primary-border-color-selected),
    );
  }

  .btn-default-secondary {
    @include gl-button-theme(
      $color: var(--gl-button-default-secondary-text-color-default),
      $background-color: var(--gl-button-default-secondary-background-color-default),
      $border-color: var(--gl-button-default-secondary-border-color-default),
      $icon-color: var(--gl-button-default-secondary-icon-color-default),
      $hover-color: var(--gl-button-default-secondary-text-color-hover),
      $hover-background-color: var(--gl-button-default-secondary-background-color-hover),
      $hover-border-color: var(--gl-button-default-secondary-border-color-hover),
      $hover-icon-color: var(--gl-button-default-secondary-icon-color-hover),
      $focus-color: var(--gl-button-default-secondary-text-color-focus),
      $focus-background-color: var(--gl-button-default-secondary-background-color-focus),
      $focus-border-color: var(--gl-button-default-secondary-border-color-focus),
      $focus-icon-color: var(--gl-button-default-secondary-icon-color-focus),
      $active-color: var(--gl-button-default-secondary-text-color-active),
      $active-background-color: var(--gl-button-default-secondary-background-color-active),
      $active-border-color: var(--gl-button-default-secondary-border-color-active),
      $active-icon-color: var(--gl-button-default-secondary-icon-color-active),
      $selected-border-color: var(--gl-button-default-secondary-border-color-selected),
    );
  }

  &.btn-default-tertiary {
    @include gl-button-theme(
      $color: var(--gl-button-default-tertiary-text-color-default),
      $background-color: var(--gl-button-default-tertiary-background-color-default),
      $icon-color: var(--gl-button-default-tertiary-icon-color-default),
      $hover-color: var(--gl-button-default-tertiary-text-color-hover),
      $hover-background-color: var(--gl-button-default-tertiary-background-color-hover),
      $hover-icon-color: var(--gl-button-default-tertiary-icon-color-hover),
      $focus-color: var(--gl-button-default-tertiary-text-color-focus),
      $focus-background-color: var(--gl-button-default-tertiary-background-color-focus),
      $focus-icon-color: var(--gl-button-default-tertiary-icon-color-focus),
      $active-color: var(--gl-button-default-tertiary-text-color-active),
      $active-background-color: var(--gl-button-default-tertiary-background-color-active),
      $active-icon-color: var(--gl-button-default-tertiary-icon-color-active),
    );
  }

  &.btn-confirm,
  &.btn-info {
    @include gl-button-theme(
      $color: var(--gl-button-confirm-primary-text-color-default),
      $background-color: var(--gl-button-confirm-primary-background-color-default),
      $border-color: var(--gl-button-confirm-primary-border-color-default),
      $icon-color: var(--gl-button-confirm-primary-icon-color-default),
      $hover-color: var(--gl-button-confirm-primary-text-color-hover),
      $hover-background-color: var(--gl-button-confirm-primary-background-color-hover),
      $hover-border-color: var(--gl-button-confirm-primary-border-color-hover),
      $hover-icon-color: var(--gl-button-confirm-primary-icon-color-hover),
      $focus-color: var(--gl-button-confirm-primary-text-color-focus),
      $focus-background-color: var(--gl-button-confirm-primary-background-color-focus),
      $focus-border-color: var(--gl-button-confirm-primary-border-color-focus),
      $focus-icon-color: var(--gl-button-confirm-primary-icon-color-focus),
      $active-color: var(--gl-button-confirm-primary-text-color-active),
      $active-background-color: var(--gl-button-confirm-primary-background-color-active),
      $active-border-color: var(--gl-button-confirm-primary-border-color-active),
      $active-icon-color: var(--gl-button-confirm-primary-icon-color-active),
    );
  }

  &.btn-confirm-secondary,
  &.btn-info-secondary {
    @include gl-button-theme(
      $color: var(--gl-button-confirm-secondary-text-color-default),
      $background-color: var(--gl-button-confirm-secondary-background-color-default),
      $border-color: var(--gl-button-confirm-secondary-border-color-default),
      $icon-color: var(--gl-button-confirm-secondary-icon-color-default),
      $hover-color: var(--gl-button-confirm-secondary-text-color-hover),
      $hover-background-color: var(--gl-button-confirm-secondary-background-color-hover),
      $hover-border-color: var(--gl-button-confirm-secondary-border-color-hover),
      $hover-icon-color: var(--gl-button-confirm-secondary-icon-color-hover),
      $focus-color: var(--gl-button-confirm-secondary-text-color-focus),
      $focus-background-color: var(--gl-button-confirm-secondary-background-color-focus),
      $focus-border-color: var(--gl-button-confirm-secondary-border-color-focus),
      $focus-icon-color: var(--gl-button-confirm-secondary-icon-color-focus),
      $active-color: var(--gl-button-confirm-secondary-text-color-active),
      $active-background-color: var(--gl-button-confirm-secondary-background-color-active),
      $active-border-color: var(--gl-button-confirm-secondary-border-color-active),
      $active-icon-color: var(--gl-button-confirm-secondary-icon-color-active),
    );
  }

  &.btn-confirm-tertiary,
  &.btn-info-tertiary {
    @include gl-button-theme(
      $color: var(--gl-button-confirm-tertiary-text-color-default),
      $background-color: var(--gl-button-confirm-tertiary-background-color-default),
      $icon-color: var(--gl-button-confirm-tertiary-icon-color-default),
      $hover-color: var(--gl-button-confirm-tertiary-text-color-hover),
      $hover-background-color: var(--gl-button-confirm-tertiary-background-color-hover),
      $hover-icon-color: var(--gl-button-confirm-tertiary-icon-color-hover),
      $focus-color: var(--gl-button-confirm-tertiary-text-color-focus),
      $focus-background-color: var(--gl-button-confirm-tertiary-background-color-focus),
      $focus-icon-color: var(--gl-button-confirm-tertiary-icon-color-focus),
      $active-color: var(--gl-button-confirm-tertiary-text-color-active),
      $active-background-color: var(--gl-button-confirm-tertiary-background-color-active),
      $active-icon-color: var(--gl-button-confirm-tertiary-icon-color-active),
    );
  }

  &.btn-danger {
    @include gl-button-theme(
      $color: var(--gl-button-danger-primary-text-color-default),
      $background-color: var(--gl-button-danger-primary-background-color-default),
      $border-color: var(--gl-button-danger-primary-border-color-default),
      $icon-color: var(--gl-button-danger-primary-icon-color-default),
      $hover-color: var(--gl-button-danger-primary-text-color-hover),
      $hover-background-color: var(--gl-button-danger-primary-background-color-hover),
      $hover-border-color: var(--gl-button-danger-primary-border-color-hover),
      $hover-icon-color: var(--gl-button-danger-primary-icon-color-hover),
      $focus-color: var(--gl-button-danger-primary-text-color-focus),
      $focus-background-color: var(--gl-button-danger-primary-background-color-focus),
      $focus-border-color: var(--gl-button-danger-primary-border-color-focus),
      $focus-icon-color: var(--gl-button-danger-primary-icon-color-focus),
      $active-color: var(--gl-button-danger-primary-text-color-active),
      $active-background-color: var(--gl-button-danger-primary-background-color-active),
      $active-border-color: var(--gl-button-danger-primary-border-color-active),
      $active-icon-color: var(--gl-button-danger-primary-icon-color-active),
    );
  }

  &.btn-danger-secondary {
    @include gl-button-theme(
      $color: var(--gl-button-danger-secondary-text-color-default),
      $background-color: var(--gl-button-danger-secondary-background-color-default),
      $border-color: var(--gl-button-danger-secondary-border-color-default),
      $icon-color: var(--gl-button-danger-secondary-icon-color-default),
      $hover-color: var(--gl-button-danger-secondary-text-color-hover),
      $hover-background-color: var(--gl-button-danger-secondary-background-color-hover),
      $hover-border-color: var(--gl-button-danger-secondary-border-color-hover),
      $hover-icon-color: var(--gl-button-danger-secondary-icon-color-hover),
      $focus-color: var(--gl-button-danger-secondary-text-color-focus),
      $focus-background-color: var(--gl-button-danger-secondary-background-color-focus),
      $focus-border-color: var(--gl-button-danger-secondary-border-color-focus),
      $focus-icon-color: var(--gl-button-danger-secondary-icon-color-focus),
      $active-color: var(--gl-button-danger-secondary-text-color-active),
      $active-background-color: var(--gl-button-danger-secondary-background-color-active),
      $active-border-color: var(--gl-button-danger-secondary-border-color-active),
      $active-icon-color: var(--gl-button-danger-secondary-icon-color-active),
    );
  }

  &.btn-danger-tertiary {
    @include gl-button-theme(
      $color: var(--gl-button-danger-tertiary-text-color-default),
      $background-color: var(--gl-button-danger-tertiary-background-color-default),
      $icon-color: var(--gl-button-danger-tertiary-icon-color-default),
      $hover-color: var(--gl-button-danger-tertiary-text-color-hover),
      $hover-background-color: var(--gl-button-danger-tertiary-background-color-hover),
      $hover-icon-color: var(--gl-button-danger-tertiary-icon-color-hover),
      $focus-color: var(--gl-button-danger-tertiary-text-color-focus),
      $focus-background-color: var(--gl-button-danger-tertiary-background-color-focus),
      $focus-icon-color: var(--gl-button-danger-tertiary-icon-color-focus),
      $active-color: var(--gl-button-danger-tertiary-text-color-active),
      $active-background-color: var(--gl-button-danger-tertiary-background-color-active),
      $active-icon-color: var(--gl-button-danger-tertiary-icon-color-active),
    );
  }

  &.btn-default-secondary,
  &.btn-dashed-secondary,
  &.btn-confirm-secondary,
  &.btn-info-secondary,
  &.btn-danger-secondary,
  &.btn-reset-secondary,
  &.btn-reset-tertiary {
    @media (forced-colors: active) {
      color: LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
      border: 1px solid LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
    }
  }

  &.btn-default-tertiary,
  &.btn-dashed-tertiary,
  &.btn-confirm-tertiary,
  &.btn-info-tertiary,
  &.btn-danger-tertiary {
    @include gl-shadow-none;

    @media (forced-colors: active) {
      color: LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
      mix-blend-mode: initial;
      border: 0;
    }

    &:hover {
      @include gl-shadow-none;
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-focus;
    }
  }

  &.btn-default-tertiary,
  &.btn-confirm-tertiary,
  &.btn-danger-tertiary {
    @media (forced-colors: active) {
      color: $black;
      border: 0;
    }
  }

  &.btn-sm {
    @include gl-py-2;
    @include gl-px-3;
    @include gl-line-height-normal;
    @include gl-font-base;

    gl-emoji {
      @include gl-font-sm;
    }
  }

  &.btn-dashed,
  &.btn-dashed-tertiary {
    @include gl-button-border(var(--gl-border-color-strong));
    outline: 3px dotted var(--gl-background-color-default);
    outline-offset: (-$gl-border-size-1);

    &:hover {
      @include gl-button-border($color: var(--gl-border-color-strong));
      outline: 3px dotted var(--gl-background-color-default);
      outline-offset: (-$gl-border-size-1);
    }

    &:focus {
      @include gl-focus($color: var(--gl-border-color-strong));
      outline: 3px dotted var(--gl-background-color-default);
      outline-offset: (-$gl-border-size-1);
    }

    &:active,
    &.active {
      @include gl-focus($color: $gray-600);
      outline: 3px dotted var(--gl-background-color-default);
      outline-offset: (-$gl-border-size-1);

      &:focus {
        @include gl-focus($color: $gray-600);
        outline: 3px dotted var(--gl-background-color-default);
        outline-offset: (-$gl-border-size-1);
      }
    }
  }

  &.btn-icon {
    @include gl-p-3;
    @include gl-line-height-normal;

    .gl-button-icon {
      @include gl-mr-0;
    }

    &.btn-sm {
      @include gl-p-2;
    }
  }

  &.button-ellipsis-horizontal,
  &.button-ellipsis-horizontal.btn-sm {
    @include gl-py-0;
    @include gl-px-2;

    svg {
      @include gl-h-5;
      @include gl-w-5;
      @include gl-m-0;
    }
  }

  &.btn-label,
  &.btn-label:hover,
  &.btn-label:focus,
  &.btn-label:active {
    background-color: var(--gl-background-color-subtle);
    @include gl-cursor-default;
    user-select: text;
  }

  &.btn-link {
    @include gl-bg-transparent;
    @apply gl-border-0;
    @include gl-font-base;
    @include gl-line-height-normal;
    color: var(--gl-button-link-text-color-default);
    @include gl-py-0;
    @include gl-px-0;
    @include gl-shadow-none;

    &:hover {
      @include gl-bg-transparent;
      color: var(--gl-button-link-text-color-hover);
    }

    &:active {
      color: var(--gl-button-link-text-color-active);
      @include gl-text-decoration-underline;
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-bg-transparent;
      @include gl-focus;
    }

    &.disabled,
    &[disabled] {
      @include gl-bg-transparent;
      @include gl-shadow-none;
    }
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active,
  &.disabled.selected,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active,
  &[disabled].selected {
    background-color: var(--gl-button-disabled-background-color);
    color: var(--gl-button-disabled-text-color);
    @include gl-button-border(var(--gl-button-disabled-border-color));
    opacity: 1;
    cursor: not-allowed !important;

    .gl-button-icon {
      fill: var(--gl-button-disabled-icon-color);
    }
  }

  &.disabled[class*='-tertiary'],
  &[disabled][class*='-tertiary'] {
    @include gl-bg-transparent;
    @include gl-shadow-none;
  }
}
