.gl-button {
  @include gl-display-inline-flex;
}

.gl-button:not(.btn-link) {
  &:focus,
  &:active,
  &:focus:active {
    @include gl-text-decoration-none;
  }
}

.gl-button.gl-button,
.gl-button.gl-button.btn-block {
  @include gl-line-height-normal;
  @include gl-text-gray-900;
  @include gl-fill-current-color;
  @include gl-justify-content-center;
  @include gl-align-items-center;
  @include gl-font-base;
  @include gl-rounded-base;
  box-sizing: border-box;
  transition: color $gl-transition-duration-medium $gl-easing-out-cubic,
              background-color $gl-transition-duration-medium $gl-easing-out-cubic,
              border-color $gl-transition-duration-medium $gl-easing-out-cubic,
              box-shadow $gl-transition-duration-medium $gl-easing-out-cubic,
              text-decoration-color $gl-transition-duration-medium $gl-easing-out-cubic;

  @media (prefers-reduced-motion) {
    transition-duration: .01ms !important;
  }

  &:focus:not(:disabled, .disabled),
  &:focus:active:not(:disabled, .disabled) {
    @include gl-focus;
  }

  .gl-button-text {
    @include gl-overflow-hidden;
    @include gl-text-overflow-ellipsis;
    @include gl-white-space-nowrap;
    // Added to address a FF bug which causes cut off text: https://bugzilla.mozilla.org/show_bug.cgi?id=1406552
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .gl-button-icon {
    @include gl-h-5;
    @include gl-w-5;
    @include gl-flex-shrink-0;
    @include gl-mr-2;
    top: auto;
  }

  gl-emoji {
    @include gl-mr-2;
    position: relative;
    @include gl-font-lg;
  }

  &:is([class*='-tertiary'], .btn-link) {
    background-color: transparent;
    border-width: 0;

    &:not(.btn-sm) {
      @include gl-py-3;
      @include gl-px-4;
    }

    &.btn-sm {
      @include gl-py-2;
      @include gl-px-3;
    }
  }

  &:not([class*='-tertiary'], .btn-link),
  &.btn-reset {
    border-width: $gl-border-size-1;

    &:not(.btn-sm) {
      padding: calc($gl-spacing-scale-3 - $gl-border-size-1) calc($gl-spacing-scale-4 - $gl-border-size-1);
    }

    &.btn-sm {
      padding: calc($gl-spacing-scale-2 - $gl-border-size-1) calc($gl-spacing-scale-3 - $gl-border-size-1);
    }
  }

  &.btn-default:not(.btn-default-tertiary),
  &.btn-dashed:not(.btn-default-tertiary) {
    @include gl-bg-white;
  }

  &.btn-dashed {
    border-style: dashed;
  }

  &.btn-default,
  &.btn-dashed {
    border-color: $gray-200;

    &:hover,
    &:focus {
      @include gl-bg-gray-50;
      border-color: $gray-400;

      .gl-icon {
        @include gl-text-gray-700;
      }
    }

    &:active,
    &.active {
      @include gl-bg-gray-100;
      border-color: $gray-600;

      .gl-icon,
      &:focus .gl-icon {
        @include gl-text-gray-900;
      }
    }

    .gl-icon {
      @include gl-text-gray-500;
    }
  }

  &.selected {
    @include gl-bg-white;
    border: $gl-border-size-2 solid $gray-300;

    &:not(.btn-sm) {
      padding: calc($gl-spacing-scale-3 - $gl-border-size-2) calc($gl-spacing-scale-4 - $gl-border-size-2);
    }

    &.btn-sm {
      padding: calc($gl-spacing-scale-2 - $gl-border-size-2) calc($gl-spacing-scale-3 - $gl-border-size-2);
    }

    &:hover,
    &:focus {
      @include gl-bg-gray-50;
      border-color: $gray-400;
    }

    &:active,
    &:active:focus {
      @include gl-bg-gray-100;
      border-color: $gray-600;
    }
  }

  &.btn-confirm,
  &.btn-info,
  &.btn-success,
  &.btn-danger {
    @include gl-text-contrast-light;
  }

  &.btn-confirm,
  &.btn-info {
    @include gl-bg-blue-500;
    border-color: $blue-600;

    &:hover,
    &:focus {
      @include gl-bg-blue-600;
      border-color: $blue-800;
    }

    &:active,
    &.active {
      @include gl-bg-blue-700;
      border-color: $blue-900;
    }
  }

  &.btn-confirm-secondary,
  &.btn-confirm-tertiary,
  &.btn-info-secondary,
  &.btn-info-tertiary {
    @include gl-bg-transparent;
    @include gl-text-blue-500;
    @include gl-font-weight-normal;
    border-color: $blue-500;

    &:hover,
    &:focus {
      @include gl-text-blue-700;
      @include gl-bg-blue-50;
      border-color: $blue-700;
    }

    &:active,
    &.active {
      @include gl-text-blue-900;
      @include gl-bg-blue-100;
      border-color: $blue-900;
    }
  }

  &.btn-success {
    @include gl-bg-green-500;
    border-color: $green-600;

    &:hover,
    &:focus {
      @include gl-bg-green-600;
      border-color: $green-800;
    }

    &:active,
    &.active {
      @include gl-bg-green-700;
      border-color: $green-900;
    }
  }

  &.btn-success-secondary,
  &.btn-success-tertiary {
    @include gl-bg-transparent;
    @include gl-text-green-500;
    @include gl-font-weight-normal;
    border-color: $green-500;

    &:hover,
    &:focus {
      @include gl-text-green-700;
      @include gl-bg-green-50;
      border-color: $green-700;
    }

    &:active,
    &.active {
      @include gl-text-green-900;
      @include gl-bg-green-100;
      border-color: $green-900;
    }
  }

  &.btn-danger {
    @include gl-bg-red-500;
    border-color: $red-600;

    &:hover,
    &:focus {
      @include gl-bg-red-600;
      border-color: $red-800;
    }

    &:active,
    &.active {
      @include gl-bg-red-700;
      border-color: $red-900;
    }
  }

  &.btn-danger-secondary,
  &.btn-danger-tertiary {
    @include gl-bg-transparent;
    @include gl-text-red-500;
    @include gl-font-weight-normal;
    border-color: $red-500;

    &:hover,
    &:focus {
      @include gl-text-red-700;
      @include gl-bg-red-50;
      border-color: $red-700;
    }

    &:active,
    &.active {
      @include gl-text-red-900;
      @include gl-bg-red-100;
      border-color: $red-900;
    }
  }

  &.btn-default,
  &.btn-dashed,
  &.btn-confirm,
  &.btn-info,
  &.btn-success,
  &.btn-danger {
    &-secondary {
      @include gl-bg-white;
    }
  }

  &.btn-default-secondary,
  &.btn-dashed-secondary,
  &.btn-confirm-secondary,
  &.btn-info-secondary,
  &.btn-success-secondary,
  &.btn-danger-secondary,
  &.btn-reset-secondary,
  &.btn-reset-tertiary {
    @media (forced-colors: active) {
      color: LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
      border: 1px solid LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
    }
  }

  &.btn-default,
  &.btn-dashed,
  &.btn-confirm,
  &.btn-info,
  &.btn-success,
  &.btn-danger {
    &-tertiary {
      mix-blend-mode: multiply;

      @media (forced-colors: active) {
        color: LinkText; // stylelint-disable-line scale-unlimited/declaration-strict-value
        mix-blend-mode: initial;
        border: 0;
      }
    }
  }

  &.btn-default-tertiary,
  &.btn-confirm-tertiary,
  &.btn-danger-tertiary {
    @media (forced-colors: active) {
      color: $black;
    }
  }

  &.btn-default-tertiary.selected {
    border: $gl-border-size-2 solid $gray-300;
  }

  &.btn-sm {
    @include gl-line-height-normal;
    @include gl-font-base;

    gl-emoji {
      @include gl-font-sm;
    }
  }

  &.btn-dashed,
  &.btn-dashed-tertiary {
    @include gl-bg-white;
    border-color: $gray-400;

    &:hover,
    &:focus {
      @include gl-bg-gray-50;
      border-color: $gray-400;
    }

    &:active,
    &.active {
      @include gl-bg-gray-100;
      border-color: $gray-600;
    }
  }

  &.btn-icon {
    @include gl-line-height-normal;

    .gl-button-icon {
      @include gl-mr-0;
    }

    &:not(.btn-sm) {
      &:is([class*='-tertiary']) {
        padding: $gl-spacing-scale-3;
      }

      &:not([class*='-tertiary']) {
        padding: calc($gl-spacing-scale-3 - $gl-border-size-1);
      }
    }

    &.btn-sm {
      &:is([class*='-tertiary']) {
        padding: $gl-spacing-scale-2;
      }

      &:not([class*='-tertiary']) {
        padding: calc($gl-spacing-scale-2 - $gl-border-size-1);
      }
    }
  }

  &.button-ellipsis-horizontal,
  &.button-ellipsis-horizontal.btn-sm {
    padding: 0 calc($gl-spacing-scale-2 - $gl-border-size-1) !important;

    svg {
      @include gl-h-5;
      @include gl-w-5;
      @include gl-m-0;
    }
  }

  &.btn-label,
  &.btn-label:hover,
  &.btn-label:focus,
  &.btn-label:active {
    @include gl-bg-gray-10;
    @include gl-text-gray-900;
    @include gl-fill-current-color;
    @include gl-cursor-default;
    border-color: $gray-200;
    user-select: text;
  }

  &.btn-link {
    @include gl-bg-transparent;
    @include gl-font-base;
    @include gl-line-height-normal;
    @include gl-text-blue-500;
    @include gl-py-0;
    @include gl-px-0;
    text-decoration-thickness: auto;
    text-decoration-style: solid;
    text-decoration-color: transparent;

    &:hover {
      @include gl-bg-transparent;
      @include gl-text-blue-500;
      text-decoration-color: $blue-500;
    }

    &:active {
      @include gl-text-blue-700;
      text-decoration-color: $blue-700;
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-bg-transparent;
      @include gl-focus;
    }

    &.disabled,
    &[disabled] {
      @include gl-bg-transparent;
      @include gl-shadow-none;
    }
  }

  &.btn-reset {
    border-color: $gray-200;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active,
  &.disabled.selected,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active,
  &[disabled].selected {
    @include gl-text-gray-500;
    @include gl-opacity-10;
    border-color: $gray-100;
    background-color: $gray-10 !important;
    cursor: not-allowed !important;

    .gl-button-icon {
      @include gl-fill-gray-400;
    }
  }

  &.disabled[class*='-tertiary'],
  &[disabled][class*='-tertiary'] {
    @include gl-bg-transparent;
  }
}
